table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;    
  }  

  tr.example-element-row
  {
      cursor: pointer;
  }

  tr.example-element-row.example-expanded-row
  {
    background: #efefef;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  ul.example-element-description
  {
    margin:0px;
  }

  ul.example-element-description > li{
      list-style: none;
  }

ul.example-element-description > li label{
  font-weight: bold;
  margin-right: 5px;
}

ul.example-element-description > li span{  
  margin-right: 20px;
}

#divTaskFormContainer
{
  background-color: #efefef;padding-bottom: 20px;
}

#divTaskTitleHeader
{
  padding: 10px 10px 10px 0px;;font-weight: bold;font-size: x-large;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched
{
  border: #f5c6cb solid 2px;
}

label.control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}
  mat-form-field{
    width: 250px;
    padding: 10px;
}
mat-card-title{
    text-align: center;
}