<div style="margin: 30px; ">

  <div *ngIf="showGrid">
  <div style="text-align: right;">
  <button  mat-raised-button color="primary" (click)="createTask()" >Create Task</button>
</div>
<div style="padding-top: 10px;">
  <table mat-table style="margin-left: 10px;margin-right: 40px;" [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- <ng-container matColumnDef="taskDescription">
      <th mat-header-cell *matHeaderCellDef> Task Name </th>
      <td mat-cell *matCellDef="let element"> {{element.taskDescription}} </td>
    </ng-container> -->
  
    <ng-container matColumnDef="taskSummary">
      <th mat-header-cell *matHeaderCellDef> Task Summary </th>
      <td mat-cell *matCellDef="let element"> {{element.taskSummary}} </td>
    </ng-container>
  
    <ng-container matColumnDef="assignee">
      <th mat-header-cell *matHeaderCellDef> Assignee  Name </th>
      <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
    </ng-container>
    <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef> Assigned To </th>
      <td mat-cell *matCellDef="let element"> {{element.assignedTo}} </td>
    </ng-container>
    <ng-container matColumnDef="plannedStartDate">
      <th mat-header-cell *matHeaderCellDef> PlannedStartDate </th>
      <td mat-cell *matCellDef="let element"> {{element.plannedStartDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="plannedEndDate">
      <th mat-header-cell *matHeaderCellDef> PlannedEndDate </th>
      <td mat-cell *matCellDef="let element"> {{element.plannedEndDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="actualStartDate">
      <th mat-header-cell *matHeaderCellDef> ActualStartDate </th>
      <td mat-cell *matCellDef="let element"> {{element.actualStartDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="actualEndDate">
      <th mat-header-cell *matHeaderCellDef> ActualEndDate </th>
      <td mat-cell *matCellDef="let element"> {{element.actualEndDate| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef> Priority </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
    </ng-container>
     
    <!-- <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> CreatedBy </th>
      <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
    </ng-container>
    <ng-container matColumnDef="modifiedBy">
      <th mat-header-cell *matHeaderCellDef> ModifiedBy </th>
      <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="createdDateTime">
      <th mat-header-cell *matHeaderCellDef> CreatedDateTime </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDateTime| date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="modifiedDateTime">
      <th mat-header-cell *matHeaderCellDef> ModifiedDateTime </th>
      <td mat-cell *matCellDef="let element"> {{element.modifiedDateTime| date: 'dd/MM/yyyy'}} </td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> UserId </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>  -->

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="showEditOrAdd(element)" aria-label="Example icon button with a filter list icon">
          <mat-icon>edit</mat-icon>
        </button>
  &nbsp;
        <button mat-icon-button  color="warn" (click)="showDeleteConfirmation(element)" aria-label="Example icon button with a filter list icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  </div>
  <div>


  <section *ngIf="!showGrid" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="800px" fxFlex.xs="90%">
        <mat-card-title>{{formMessage}}</mat-card-title>
        <form [formGroup]="formData" autocomplete="off" novalidate (ngSubmit)="formSubmit(formData.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Summary" formControlName="taskSummary" id="taskSummary">
        <mat-hint align="end">Not more then 15 characters long.</mat-hint>
        <mat-error *ngIf="hasError('taskSummary', 'required')">Summary is required</mat-error>
         
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" placeholder="Description" formControlName="taskDescription" id="taskDescription"></textarea>
        <mat-error *ngIf="hasError('taskDescription', 'required')">Description is required</mat-error>
      
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Assignee" formControlName="assignee" id="assignee">
        <mat-error *ngIf="hasError('assignee', 'required')">Assignee is required</mat-error>
      
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Assigned To" formControlName="assignedTo" id="assignedTo">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Planned Start Date" formControlName="plannedStartDate" id="plannedStartDate">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Planned End Date" formControlName="plannedEndDate" id="plannedEndDate">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Actual Start Date" formControlName="actualStartDate" id="actualStartDate">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Actual End Date" formControlName="actualEndDate" id="actualEndDate">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Status" formControlName="status" id="status">
        <mat-error *ngIf="hasError('status', 'required')">Status is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Priority" formControlName="priority" id="priority">
        <mat-error *ngIf="hasError('priority', 'required')">priority is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Progress" formControlName="progress" id="progress">
        <mat-error *ngIf="hasError('progress', 'required')">Progress is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Created By" formControlName="createdBy" id="createdBy">
        <mat-error *ngIf="hasError('createdBy', 'required')">Created By" is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Modified By" formControlName="modifiedBy" id="modifiedBy">
        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Created Date Time" formControlName="createdDateTime" id="createdDateTime">
        <mat-error *ngIf="hasError('createdDateTime', 'required')">Created Date Time is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime" placeholder="Modified Date Time" formControlName="modifiedDateTime" id="modifiedDateTime">
      </mat-form-field>

      <!-- <mat-form-field *ngIf="!isEdit">
        <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'maxlength')">Password should be less than 15 characters</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">Password should be minimum 5 characters</mat-error>
        
      </mat-form-field> -->
        

         
  </mat-card-content>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!formData.valid">Save</button>
    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</form>
      </mat-card>
  </section>
  </div>
